<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src <%- cspSource %>; img-src <%- cspSource %> https:; script-src <%- cspSource %>; style-src <%- cspSource %>;"
    />
    <title>Spot Check</title>

    <link rel="resource" type="application/l10n" href="<%- localeUri %>" />
    <% scriptPaths.forEach(function(path){ %>
    <script src="<%- path %>"></script>
    <% }); %> <% moduleScriptPaths.forEach(function(path){ %>
    <script type="module" src="<%- path %>"></script>
    <% }); %> <% stylePaths.forEach(function(path){ %>
    <link rel="stylesheet" href="<%- path %>" />
    <% }); %>
  </head>
  <body>
    <div id="root">
      <%- include('data-panel') %> <%- include('pdf-viewer') %>
    </div>
  </body>
</html>
